$item-margin: 5px;
$item-padding: 15px;
$item-radius: 5px;

.underscore-pages
{
    display: flex;
    flex-wrap: wrap;
    margin-left: -$item-margin;
    margin-right: -$item-margin;
    margin-top: 1em;
    margin-bottom: 1em;

    .item
    {
        padding: 0;
        margin: 0 0 $item-margin * 2 0;
        box-sizing: border-box;
    }

    &.col-1 .item
    {
        width: 100%;
        margin-bottom: 1em;
    }

    &.col-2 .item
    {
        width: 50%;
    }

    &.col-3 .item
    {
        width: 33%;
    }

    &.col-4 .item
    {
        width: 25%;
    }

    &.col-5 .item
    {
        width: 20%;
    }

    .item img
    {
        box-shadow: none;
        border: none;
        padding: 0;
        display: block;
        border-top-left-radius: $item-radius;
        border-top-right-radius: $item-radius;
    }

    .item a
    {
        display: block;
        margin: 0 $item-margin;
        border: 1px solid rgb( 222, 226, 230 );
        height: 100%;
        box-sizing: border-box;
        background-color: #ffffff;
        text-decoration: none;
        box-shadow: none;
        border-radius: $item-radius;
    }

    .item a:hover
    {
        background-color: #f7f7f7;
    }

    .item .post-thumbnail
    {
        margin: -1px -1px 0 -1px;
        padding: 0;
    }

    .item .post-content
    {
        padding: $item-padding;
    }

    .item .post-title
    {
        margin: 0;
        padding: 0;
        font-size: 0.9em;
        line-height: 1.25em;
        overflow-wrap: break-word;
        font-weight: 900;
    }
}

@media screen and (max-width: 576px)
{
    .underscore-pages
    {
        &.col-1 .item,
        &.col-2 .item,
        &.col-3 .item,
        &.col-4 .item,
        &.col-5 .item
        {
            width: 100%;
        }
    }
}