.underscore-pages {
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
  margin-top: 1em;
  margin-bottom: 1em; }
  .underscore-pages .item {
    padding: 0;
    margin: 0 0 10px 0;
    box-sizing: border-box; }
  .underscore-pages.col-1 .item {
    width: 100%;
    margin-bottom: 1em; }
  .underscore-pages.col-2 .item {
    width: 50%; }
  .underscore-pages.col-3 .item {
    width: 33%; }
  .underscore-pages.col-4 .item {
    width: 25%; }
  .underscore-pages.col-5 .item {
    width: 20%; }
  .underscore-pages .item img {
    box-shadow: none;
    border: none;
    padding: 0;
    display: block;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }
  .underscore-pages .item a {
    display: block;
    margin: 0 5px;
    border: 1px solid #dee2e6;
    height: 100%;
    box-sizing: border-box;
    background-color: #ffffff;
    text-decoration: none;
    box-shadow: none;
    border-radius: 5px; }
  .underscore-pages .item a:hover {
    background-color: #f7f7f7; }
  .underscore-pages .item .post-thumbnail {
    margin: -1px -1px 0 -1px;
    padding: 0; }
  .underscore-pages .item .post-content {
    padding: 15px; }
  .underscore-pages .item .post-content p {
    margin-bottom: 0;
    margin-top: 1em;
    font-size: 0.9em;
    line-height: 1.25em;
    color: #777777; }
  .underscore-pages .item .post-title {
    margin: 0;
    padding: 0;
    font-size: 1em;
    line-height: 1.25em;
    overflow-wrap: break-word;
    font-weight: 900;
    color: #333333; }

@media screen and (max-width: 576px) {
  .underscore-pages.col-1 .item,
  .underscore-pages.col-2 .item,
  .underscore-pages.col-3 .item,
  .underscore-pages.col-4 .item,
  .underscore-pages.col-5 .item {
    width: 100%; } }
